* {
    margin: 0;
    padding: 0;

}
header{
    border-bottom: 1px solid #e0e0e0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-menu li{
    text-align: center;
    padding: 0px 10px;
}

.nav-menu a:hover {
    color: #2563eb;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.main {
    text-align: center;
    padding: 0 40px;
    max-width: 900px;
    margin: 80px auto;
    margin-top: 100px;
}

.main h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main > p {
    font-size: 24px;
    color: #666;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 80px;
}

.btn {
    padding: 14px 32px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary {
    background: #2563eb;
    color: white;
    border: none;
}

.btn-primary:hover {
    background: #1d4ed8;
}

.btn-second {
    color: black;
    border: 1px solid #d1d5db;
}

.btn-second:hover {
    background: #f9fafb;
}

.intro-box {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
}

.intro-box p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.intro-box p:last-child {
    margin-bottom: 0;
}
.menu-img{
    display: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
@media screen and (max-width:767px) {
    .buttons {
        flex-direction: column;
    }
    .menu-img{
        display: block;
        padding: 5px 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu li{
        padding: 15px 10px;
        border-bottom: 1px solid #000;
    }
    .nav-menu li:last-child{
        border-bottom: none;
    }
    .nav-menu a:hover {
        color: black;
        padding-bottom: none;
        border-bottom: none;
    }
    .menu-frame{
        position: absolute;
        right: 40px;
        top: 20px;
        background-color: rgb(245, 245, 245);
        border-radius: 8px;
    }
}