* {
    margin: 0;
    padding: 0;

}
header{
    border-bottom: 1px solid #e0e0e0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    max-width: 1320px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;

}

.nav-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #2563eb;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.about {
    margin: 80px auto;
    padding: 0 40px;
    max-width: 1320px;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about > p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background: rgba(37, 99, 235, 0.79);
    border-radius: 12px;
    margin-bottom: 100px;
    color:white;
}
.profile-card:hover{
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transform: translateY(-4px);
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
}

.profile-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: white;
}

.section-item {
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.icon {
    font-size: 22px;
}

.section-content {
    font-size: 18px;
    color: #555;
    padding-left: 50px;
}

