* {
    margin: 0;
    padding: 0;

}
body > header{
    border-bottom: 1px solid #e0e0e0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    max-width: 1320px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;

}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.nav-menu li{
    text-align: center;
    padding: 0px 10px;
}

.nav-menu a:hover {
    color: #2563eb;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.skills {
    max-width: 1320px;
    margin: 80px auto;
    padding: 0 40px;
}

.skills h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.skills-content-box, .skills-right{
    display: flex;
}
.skills-content-box{
    justify-content: space-between;
}
.skills-right{
    gap: 30px;
    position: relative;
}
.skills-left div{
    max-width: 700px;
}
.skills-left h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.skills-detail h2 {
    font-size: 24px;
}
.skills-detail{
    display: flex;
    flex-direction: column;
}
.skill-item {
    margin-bottom: 50px;
}

.skill-header {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 10px;
}

.skill-icon {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.skill-name {
    font-size: 18px;
    font-weight: 600;
}

.skill-description {
    font-size: 16px;
    color: #666;
    padding-left: 40px;
}

.competency-item {
    margin-bottom: 50px;
}

.competency-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.competency-description {
    font-size: 16px;
    color: #666;
}

.border{
    width: 19px;
    height: 100%;
    border-right: 1px solid black;
    position: absolute;
    z-index: -10;
}

#university, #activity, #certifications{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    border: 1px solid black;
}

.university-section {
    margin-bottom: 50px;
}

.education-item {
    margin-left: 60px;
    margin-bottom: 30px;
}
.education-item > div{
    display: flex;
    align-items: center;
    gap:20px;
    margin-bottom : 5px;
    margin:0;
}
.university-section > header, .study-education > header, .cert-section > header{
    display: flex;
    align-items: center;
    gap : 20px;
    margin-bottom: 10px;
}

.edu-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
    margin-left: 60px;
}

.edu-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu-title {
    font-size: 18px;
    font-weight: 600;
}

.edu-detail {
    font-size: 16px;
    color: #666;
}
.cert-section{
    margin-top: 50px;
}
.cert-section h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cert-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 60px;;
}

.cert-badge {
    width: 20px;
    height: 20px;
}

.cert-text {
    font-size: 16px;
    color: #333;
}

.cert-date {
    font-size: 16px;
    color: #999;
    margin-left: auto;
}
.menu{
    display: none;
}
.menu-img{
    display: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
@media screen and (max-width:767px) {
    .skills-content-box {
        flex-direction: column;
    }
    .skills-right{
        margin-top: 50px;
    }
    .menu-img{
        display: block;
        padding: 5px 20px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu li{
        padding: 15px 10px;
        border-bottom: 1px solid #000;
    }
    .nav-menu li:last-child{
        border-bottom: none;
    }
    .nav-menu a:hover {
        color: black;
        padding-bottom: none;
        border-bottom: none;
    }
    .menu-frame{
        position: absolute;
        border-radius: 8px;
        background-color: rgb(245, 245, 245);
        right: 40px;
        top: 20px;
    }
}